<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Admin console</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script >
        $(document).ready(function(){
      var user, pass;
        $("button#submit").click(function(){
            user = $("input#user").val()
            pass = $("input#pwd").val()
            $.post("/command",{user: user,password: pass}, function(data){
                console.log(data)
            })
        })
      })
    </script>
  </head>
  <body>
    <p>user name</p>
    <input type="text" id="user">
    <p>password</p>
      <input type="password" id="pwd"> <br>
      <button id="submit">submit</button>
  </body>
</html>
