<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Admin console</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script >
      
      
    </script>
  </head>
  <body>
    <form action="index.js" method="post">
  <label for="User">user name</label><br>
  <input type="text" id="User"><br>
  <label for="pwd">Password</label><br>
  <input type="text" id="pwd"><br><br>
  <input type="submit" value="Submit">
</form>
  </body>
</html>
