<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ChatApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type='text/javascript' src="js.js"></script>
    <link rel="stylesheet" type="text/css" href="css.css">
  </head>
  <body>
      <div id="switches">
    <h1>Chat App</h1>
    <h4 id="room">current room number: 1</h4>
      <button id="room1" name="button" onclick="changeRoom(1);">Chat room 1</button>
      <button id="room2" name="button" onclick="changeRoom(2);">chat room 2</button>
      <button id="room3" name="button" onclick="changeRoom(3);">chat room 3</button>
      <button id="draw"  name="button" onclick="location.href='draw.html'">drawing room</button>
    </div>
    <div id="messageBlock">
        <ul id="messages1"><!-- messages go here--></ul>
        <ul id="messages2"><!-- messages go here--></ul>
        <ul id="messages3"><!-- messages go here--></ul>
    </div>
      <div id="input">
          <input onfocus="this.value=''" type="text" id="message" value="type message here">
          <button id="post">post</button>
      </div>
  </body>
</html>
